* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.main-body {
  width: 1920px;
  margin: 0 auto;
}

/* This Section For Header */

.header-section {
  height: 885px;
  background-color: rgba(229, 84, 115, 0.1);
  display: flex;
}
.header-head {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-para {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 32px;
}
.header-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 0;
  background-color: #e55473;
  padding: 20px 43px;
  margin: 32px 0 0 0;
}
.header-img {
  width: 635px;
  height: 800px;
}
.header-container1 {
  margin: 197px 0 0 240px;
}
.header-container2 {
  margin: 85px 0 0 97px;
}

/* This Section For Featured */

.featured-head {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 178px 735px 24px 735px;
}
.featured-para {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  padding: 0 663px 0 663px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.pink-flower-tree {
  display: flex;
  flex-direction: row;
  margin: 48px 240px 32px 240px;
}
.tree-name {
  display: flex;
  flex-direction: row;
}
.flower-tree1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-right: 24px;
}
.flower-tree2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-right: 24px;
}
.flower-tree3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.tree-flowers1 {
  padding: 110px 78px 0 76px;
}
.tree-flowers2 {
  padding: 117px 47px 51px 47px;
}
.tree-flowers3 {
  padding: 67px 75px 0 75px;
}
.flower-tree {
  width: 464px;
  height: 538px;
}
.tree-name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin: 0 340px 128px 340px;
}
.tree-name1 {
  padding-right: 260px;
}
.tree-name2 {
  padding-right: 270px;
}

/* This Section For Bannar */
.bannar {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0 240px 128px 240px;
}
.bannar-section1 {
  padding: 86px 232px 24px 317px;
}
.bannar-section2 {
  padding: 0 0 87px 160px;
}
.service1 {
  padding-right: 80px;
}
.service2 {
  padding-right: 80px;
}
.logo-poster1 {
  width: 88px;
  height: 88px;
  padding-right: 356px;
}
.logo-poster2 {
  width: 88px;
  height: 88px;
  padding-right: 271px;
}
.logo-poster3 {
  width: 88px;
  height: 88px;
}
.heading-poster {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}
.poster {
  display: flex;
}
.poster-title {
  display: flex;
}
/* This Section For Search Flowers */
.search-flower {
  width: 1440px;
  height: 229px;
  background: rgba(229, 84, 115, 0.116);
  display: flex;
  gap: 15px;
  margin: 0 240px 128px 240px;
}
.search-filter {
  width: 59px;
  height: 59px;
  padding: 85px 0 85px 141px;
}
#search {
  border: 1px solid #e55473;
  background: #fff;
  padding: 21px 850px 19px 27px;
  margin: 85px 0;
}
#search::placeholder {
  color: #e55473;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.search-icon {
  width: 28px;
  height: 28px;
  border: 1px solid #e55473;
  background: #e55473;
  padding: 16px 15px 15px 16px;
  margin: 85px 141px 85px 0;
}
/* This Section For Hot Deal */
.hotdeal-container {
  width: 1920px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.hotdeal-body {
  display: flex;
  gap: 186px;
}
.hotdeal-content {
  padding: 230px 0 24px 395px;
}
.hotdeal-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 24px;
}
.colour-text {
  color: #e55473;
}
.hotdeal-para {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 52px;
}
.hotdeal-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  border: 0;
  margin: 0 0 162px 215px;
}
.hotdeal-img {
  margin: 100px 0;
}
/* This Section For Instagram */
.i-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding: 128px 870px 0 870px;
}
.i-para {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  padding: 24px 663px 0 663px;
  width: 594px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.i-image {
  margin: 48px 240px 128px 240px;
  display: flex;
  gap: 24px;
}
.image-insta {
  width: 342px;
  height: 396px;
}
/* This Section For Latest Deals */
.latest-deals {
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  background-image: url("./images/Rectangle\ 9.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 240px 128px 240px;
}
.deals {
  padding: 122px 265px 121px 265px;
}
.deals-heading {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 16px;
}
.deals-para {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 48px;
}
#text {
  border-radius: 8px;
  border: 0;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  padding: 23px 513px 22px 22px;
  font-size: 16px;
  font-weight: 400;
  margin-right: 16px;
}
.deals-btn {
  border-radius: 8px;
  border: 0;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 150px;
  height: 64px;
}
/* This Section For Footer */
.footer-section {
  width: 1922px;
  height: 449px;
  background: #111010;
}
.foot-head {
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
  padding: 128px 0 0 815px;
}
.shop {
  color: #fff;
}
.foot-description {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 625px;
  padding: 24px 0 32px 644px;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 128px 770px;
}
